/*Reset de estilo */

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  line-height: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --cor-dourada: #DAA62B;
  --cor-azul-escuro: #233B78;
  --cor-azul-claro:#95BCE6;
  --cor-branco: #FFFFFF;
}

