section.services {
    display: grid;
    grid-template-columns: 50% 50%;
    background: url(../public/images/capa-mainpage.jpg);
    background-size: cover;

}

section.services .service-item h2{
    text-align: center;
    line-height: 70px;
    }

section.services .service-item figure{
    display: inline;
    position: absolute;
    margin-right: 0px;
}

section.services .service-item figure img{
    width: 70%;
}

section.services .service-item ul{
    display: inline;
    list-style: none;
    padding: 0;
}

section.services .service-item ul li{
    font-size: 1.4rem;
    padding-bottom: 20px;
    margin-left: 200px;
    vertical-align: center;
}


section.services .service-item{
    margin-bottom: 35px;
}

@media (max-width: 1190px) {

    section.services .service-item figure img{
        width: 50%;
    }
    section.services .service-item ul li{
        font-size: 1.2rem;
        padding-bottom: 20px;
        margin-left: 200px;
        vertical-align: center;
    }

}

@media (max-width: 971px) {


    section.services .service-item ul li{
        font-size: 1.2rem;
        padding-bottom: 10px;
        margin-left: 200px;
        vertical-align: center;
    }

}

@media (max-width: 833px) {

    section.services {
        display: flex;
        flex-direction: column;
        background: url(../public/images/capa-mainpage.jpg);
        background-size: cover;
    
    }

    section.services .service-item ul li{
        font-size: 1.1rem;
        padding-bottom: 10px;
        margin-left: 200px;
        vertical-align: center;
    }

    section.services .service-item h2{
        line-height: 40px;
        }
            
        .service-item figure{
            display: inline;
            position: absolute;
            margin-right: 0px;
            margin-top: -20px;
    
        }
}

@media (max-width: 833px) {
            
    .service-item figure{
        display: inline;
        position: absolute;
        margin-right: 0px;
        margin-top: 0px;

    }

}
